.item-1 {
  color: #c8821e;
  background: rgba(130, 78, 200, 0.5);
}

.item-2 {
  color: 119;
  background: 17;
  border-color: 85;
}

.item-3 {
  color: #dd6277;
}

.item-4 {
  color: #006699;
  background: rgba(255, 255, 255, 0.5);
}

.item-5 {
  color: 68.57143deg;
  background: 77.77778%;
  border-color: 66.66667%;
}

.item-6 {
  color: #4d4d4d;
  background: #221188;
  border-color: #00aa66;
}

.item-7 {
  color: 1;
  background: rgba(119, 136, 17, 0.6);
  border-bottom-color: rgba(119, 136, 17, 0.6);
  border-top-color: rgba(255, 0, 0, 0.5);
}
