div.through-1 {
  width: 20%;
}

div.through-2 {
  width: 40%;
}

div.through-3 {
  width: 60%;
}

div.through-4 {
  width: 80%;
}

div.to-1 {
  width: 20%;
}

div.to-2 {
  width: 40%;
}

div.to-3 {
  width: 60%;
}
